In [1]:
text = "Data Carpentry"
number = 42
pi_value = 3.1415

In [2]:
print(text)

Data Carpentry

In [3]:
2*2

4

In [4]:
2+2

4

In [5]:
True and True

True

In [6]:
True and False

False

In [7]:
numbers = [1,2,3]

In [8]:
for num in numbers:
    print(num)

1
2
3

In [9]:
translations = {"one": 1, "two": 2}

In [10]:
translations["one"]

1

In [11]:
translations[0]

KeyError: 0

In [12]:
translations["three"] = 3

In [13]:
translations

{'one': 1, 'three': 3, 'two': 2}

In [14]:
for key, value in translations.items():
    print(key, "->", value)

one -> 1
two -> 2
three -> 3

In [15]:
translations["three"] = 4

In [16]:
for key, value in translations.items():
    print(key,"->",value)

one -> 1
two -> 2
three -> 4

In [17]:
translations["three"]=[3,"trois"]

In [18]:
for key, value in translations.items():
    print(key,"->",value)

one -> 1
two -> 2
three -> [3, 'trois']

In [19]:
for value in translations["three"]:
    print(value)

3
trois

In [20]:
del translations["three"]

In [21]:
translations

{'one': 1, 'two': 2}

In [22]:
print(translations)

{'one': 1, 'two': 2}

In [23]:
def add_function(a,b):
    result = a + b
    return result

In [24]:
z = add_function(20,22)

In [25]:
print(z)

42

In [27]:
a = 0
for i in range(1,100):
    a = a+i
print(a)

4950

In [28]:
list_1_100 = list(range(1,100))

In [31]:
print(list_1_100)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [32]:
list_1_100[0:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Pandas in Python

In [33]:
import pandas as pd

In [34]:
import os

In [35]:
os.getcwd()

'/Users/mboisson/cq-formation-analyse-visualisation-python'

In [36]:
pd.read_csv("data/surveys.csv")

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32,NaN
1,2,7,16,1977,3,NL,M,33,NaN
2,3,7,16,1977,2,DM,F,37,NaN
3,4,7,16,1977,7,DM,M,36,NaN
4,5,7,16,1977,3,DM,M,35,NaN
5,6,7,16,1977,1,PF,M,14,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37,NaN
8,9,7,16,1977,1,DM,F,34,NaN
9,10,7,16,1977,6,PF,F,20,NaN
10,11,7,16,1977,5,DS,F,53,NaN
11,12,7,16,1977,7,DM,M,38,NaN
12,13,7,16,1977,3,DM,M,35,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36,NaN
15,16,7,16,1977,4,DM,F,36,NaN
16,17,7,16,1977,3,DS,F,48,NaN
17,18,7,16,1977,2,PP,M,22,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48,NaN
20,21,7,17,1977,14,DM,F,34,NaN
21,22,7,17,1977,15,NL,F,31,NaN
22,23,7,17,1977,13,DM,M,36,NaN
23,24,7,17,1977,13,SH,M,21,NaN
24,25,7,17,1977,9,DM,M,35,NaN
25,26,7,17,1977,15,DM,M,31,NaN
26,27,7,17,1977,15,DM,M,36,NaN
27,28,7,17,1977,11,DM,M,38,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24,36
35520,35521,12,31,2002,9,DM,M,37,48
35521,35522,12,31,2002,9,DM,F,35,45
35522,35523,12,31,2002,9,DM,F,36,44
35523,35524,12,31,2002,9,PB,F,25,27
35524,35525,12,31,2002,9,OL,M,21,26
35525,35526,12,31,2002,8,OT,F,20,24
35526,35527,12,31,2002,13,DO,F,33,43
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25,25
35529,35530,12,31,2002,13,OT,F,20,NaN
35530,35531,12,31,2002,13,PB,F,27,NaN
35531,35532,12,31,2002,14,DM,F,34,43
35532,35533,12,31,2002,14,DM,F,36,48
35533,35534,12,31,2002,14,DM,M,37,56
35534,35535,12,31,2002,14,DM,M,37,53
35535,35536,12,31,2002,14,DM,F,35,42
35536,35537,12,31,2002,14,DM,F,36,46
35537,35538,12,31,2002,15,PB,F,26,31
35538,35539,12,31,2002,15,SF,M,26,68
35539,35540,12,31,2002,15,PB,F,26,23
35540,35541,12,31,2002,15,PB,F,24,31
35541,35542,12,31,2002,15,PB,F,26,29
35542,35543,12,31,2002,15,PB,F,27,34
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15,14
35547,35548,12,31,2002,7,DO,M,36,51
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [37]:
surveys_df = pd.read_csv("data/surveys.csv")

In [38]:
type(surveys_df)

pandas.core.frame.DataFrame

In [39]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [40]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [41]:
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32,NaN
1,2,7,16,1977,3,NL,M,33,NaN
2,3,7,16,1977,2,DM,F,37,NaN
3,4,7,16,1977,7,DM,M,36,NaN
4,5,7,16,1977,3,DM,M,35,NaN

In [42]:
surveys_df.head(10)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32,NaN
1,2,7,16,1977,3,NL,M,33,NaN
2,3,7,16,1977,2,DM,F,37,NaN
3,4,7,16,1977,7,DM,M,36,NaN
4,5,7,16,1977,3,DM,M,35,NaN
5,6,7,16,1977,1,PF,M,14,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37,NaN
8,9,7,16,1977,1,DM,F,34,NaN
9,10,7,16,1977,6,PF,F,20,NaN

In [43]:
surveys_df.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15,14
35547,35548,12,31,2002,7,DO,M,36,51
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [44]:
surveys_df.shape

(35549, 9)

In [45]:
surveys_df.species_id

0         NL
1         NL
2         DM
3         DM
4         DM
5         PF
6         PE
7         DM
8         DM
9         PF
10        DS
11        DM
12        DM
13        DM
14        DM
15        DM
16        DS
17        PP
18        PF
19        DS
20        DM
21        NL
22        DM
23        SH
24        DM
25        DM
26        DM
27        DM
28        PP
29        DS
        ...
35519     SF
35520     DM
35521     DM
35522     DM
35523     PB
35524     OL
35525     OT
35526     DO
35527     US
35528     PB
35529     OT
35530     PB
35531     DM
35532     DM
35533     DM
35534     DM
35535     DM
35536     DM
35537     PB
35538     SF
35539     PB
35540     PB
35541     PB
35542     PB
35543     US
35544     AH
35545     AH
35546     RM
35547     DO
35548    NaN
Name: species_id, dtype: object

In [46]:
pd.unique(surveys_df.species_id)

array(['NL', 'DM', 'PF', 'PE', 'DS', 'PP', 'SH', 'OT', 'DO', 'OX', 'SS',
       'OL', 'RM', nan, 'SA', 'PM', 'AH', 'DX', 'AB', 'CB', 'CM', 'CQ',
       'RF', 'PC', 'PG', 'PH', 'PU', 'CV', 'UR', 'UP', 'ZL', 'UL', 'CS',
       'SC', 'BA', 'SF', 'RO', 'AS', 'SO', 'PI', 'ST', 'CU', 'SU', 'RX',
       'PB', 'PL', 'PX', 'CT', 'US'], dtype=object)

In [47]:
surveys_df["weight"].describe()

count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%         20.000000
50%         37.000000
75%         48.000000
max        280.000000
Name: weight, dtype: float64

In [48]:
surveys_df["weight"].mean()

42.672428212991356

In [50]:
print(surveys_df["weight"].min())
print(surveys_df["weight"].max())
print(surveys_df["weight"].mean())
print(surveys_df["weight"].std())
print(surveys_df["weight"].count())

4.0
280.0
42.672428212991356
36.63125947458399
32283

In [51]:
sorted = surveys_df.groupby("species_id")

In [53]:
sorted.describe()

                     record_id       month         day         year  \
species_id
AB         count    303.000000  303.000000  303.000000   303.000000
           mean   13201.702970    4.993399   15.788779  1987.171617
           std     5835.874869    4.084370    8.667608     4.219584
           min     3126.000000    1.000000    1.000000  1980.000000
           25%     7604.000000    2.000000    8.500000  1983.000000
           50%    13829.000000    3.000000   15.000000  1987.000000
           75%    16981.500000    9.000000   22.500000  1990.000000
           max    33713.000000   12.000000   31.000000  2002.000000
AH         count    437.000000  437.000000  437.000000   437.000000
           mean   21631.716247    6.565217   16.427918  1993.352403
           std     7194.381201    3.252871    8.911772     5.250978
           min     1446.000000    1.000000    1.000000  1978.000000
           25%    15507.000000    4.000000    9.000000  1989.000000
           50%    21600.000000    6.000000   16.000000  1994.000000
           75%    27462.000000    9.000000   25.000000  1998.000000
           max    35546.000000   12.000000   31.000000  2002.000000
AS         count      2.000000    2.000000    2.000000     2.000000
           mean   19760.000000    4.500000   15.500000  1992.000000
           std     1170.968830    4.949747   12.020815     1.414214
           min    18932.000000    1.000000    7.000000  1991.000000
           25%    19346.000000    2.750000   11.250000  1991.500000
           50%    19760.000000    4.500000   15.500000  1992.000000
           75%    20174.000000    6.250000   19.750000  1992.500000
           max    20588.000000    8.000000   24.000000  1993.000000
BA         count     46.000000   46.000000   46.000000    46.000000
           mean   18586.043478    7.021739   12.826087  1990.760870
           std      921.349203    4.035890    6.004829     0.765500
           min    16598.000000    1.000000    4.000000  1989.000000
           25%    17972.500000    3.250000    8.000000  1990.000000
           50%    18803.000000    7.000000   13.000000  1991.000000
...                        ...         ...         ...          ...
UP         std     1327.000565    4.140393    6.621124     1.035098
           min    13688.000000    1.000000    4.000000  1987.000000
           25%    14013.250000    2.000000   15.250000  1987.750000
           50%    14226.500000    3.000000   21.000000  1988.000000
           75%    15375.000000    8.000000   21.000000  1989.000000
           max    17654.000000   11.000000   22.000000  1990.000000
UR         count     10.000000   10.000000   10.000000    10.000000
           mean   21367.000000    6.200000   21.100000  1993.000000
           std     8568.125738    3.457681    5.685264     6.218253
           min    13564.000000    1.000000    9.000000  1987.000000
           25%    13719.750000    4.250000   18.750000  1987.250000
           50%    19103.500000    6.500000   24.500000  1991.500000
           75%    29559.250000    9.500000   25.000000  1999.250000
           max    34575.000000   10.000000   25.000000  2002.000000
US         count      4.000000    4.000000    4.000000     4.000000
           mean   35524.250000   12.000000   31.000000  2002.000000
           std       15.063753    0.000000    0.000000     0.000000
           min    35512.000000   12.000000   31.000000  2002.000000
           25%    35512.750000   12.000000   31.000000  2002.000000
           50%    35520.500000   12.000000   31.000000  2002.000000
           75%    35532.000000   12.000000   31.000000  2002.000000
           max    35544.000000   12.000000   31.000000  2002.000000
ZL         count      2.000000    2.000000    2.000000     2.000000
           mean   14300.500000    3.500000   18.500000  1988.000000
           std       71.417785    0.707107    2.121320     0.000000
           min    14250.000000    3.000000   17.000000  1988.000000
           25%    14275.250000    3.250000   17.750000  1988.000000
           50%    14300.500000    3.500000   18.500000  1988.000000
           75%    14325.750000    3.750000   19.250000  1988.000000
           max    14351.000000    4.000000   20.000000  1988.000000

                     plot_id  hindfoot_length     weight
species_id
AB         count  303.000000         0.000000   0.000000
           mean    13.973597              NaN        NaN
           std      6.921937              NaN        NaN
           min      1.000000              NaN        NaN
           25%      7.500000              NaN        NaN
           50%     13.000000              NaN        NaN
           75%     20.000000              NaN        NaN
           max     24.000000              NaN        NaN
AH         count  437.000000         2.000000   0.000000
           mean    14.780320        33.000000        NaN
           std      5.292133         2.828427        NaN
           min      1.000000        31.000000        NaN
           25%     12.000000        32.000000        NaN
           50%     15.000000        33.000000        NaN
           75%     18.000000        34.000000        NaN
           max     24.000000        35.000000        NaN
AS         count    2.000000         0.000000   0.000000
           mean    15.500000              NaN        NaN
           std      4.949747              NaN        NaN
           min     12.000000              NaN        NaN
           25%     13.750000              NaN        NaN
           50%     15.500000              NaN        NaN
           75%     17.250000              NaN        NaN
           max     19.000000              NaN        NaN
BA         count   46.000000        45.000000  45.000000
           mean    10.521739        13.000000   8.600000
           std      8.123325         1.718879   2.082394
           min      1.000000         6.000000   6.000000
           25%      3.000000        12.000000   7.000000
           50%      5.000000        13.000000   8.000000
...                      ...              ...        ...
UP         std     10.622584              NaN        NaN
           min      1.000000              NaN        NaN
           25%      1.000000              NaN        NaN
           50%      7.000000              NaN        NaN
           75%     22.250000              NaN        NaN
           max     23.000000              NaN        NaN
UR         count   10.000000         0.000000   0.000000
           mean     8.500000              NaN        NaN
           std      4.927248              NaN        NaN
           min      1.000000              NaN        NaN
           25%      6.250000              NaN        NaN
           50%      9.000000              NaN        NaN
           75%     11.000000              NaN        NaN
           max     18.000000              NaN        NaN
US         count    4.000000         0.000000   0.000000
           mean    12.500000              NaN        NaN
           std      1.914854              NaN        NaN
           min     11.000000              NaN        NaN
           25%     11.000000              NaN        NaN
           50%     12.000000              NaN        NaN
           75%     13.500000              NaN        NaN
           max     15.000000              NaN        NaN
ZL         count    2.000000         0.000000   0.000000
           mean    20.500000              NaN        NaN
           std      3.535534              NaN        NaN
           min     18.000000              NaN        NaN
           25%     19.250000              NaN        NaN
           50%     20.500000              NaN        NaN
           75%     21.750000              NaN        NaN
           max     23.000000              NaN        NaN

[384 rows x 7 columns]